body{
    height: 800px;
    background-image: url("./backgroud.jpeg");

}

#menu{
    position:fixed;
    top:0;
    left:0; /*fixando no canto superior esquerdo*/
    width: 100%;
    height:50px;
    background-color: rgba(51, 51, 51, 0.336)
}


ul{
    list-style: none;
    display: flex;
    align-items:center;
    height:100%;
    margin: 0;
}

li{
    margin-right:10px;
}

a{
    color:#FFF;
}

.carrosel{
    margin:0;
    padding: 0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}


