* {
    box-sizing: border-box;
    font-family: Helvetica;

  }

  body {
    background-image: url("0.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;

  }

  #calc {
    width: 400px;
    padding: 0.5em;
    background-color: #2b2626;
    color: #FFF;
    display: flex;
    flex-direction: column;
  }

  #calc h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
  }

  #operations {
    text-align: right;
  }

  #previous-operation {
    color: #FFF;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
  }

  #current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
  }

  #buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }

  #buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
  }

  #buttons-container .number {
    background-color: #f3f3f3;
  }

  #buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
  }

  #buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5cb;
  }

  #buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #3a91d8;
  }


#menu{
    position:fixed;
    top:10px;
    left:0; /*fixando no canto superior esquerdo*/

}


ul{
    list-style: none;
    display: flex;
    align-items:center;
    height:100%;
    margin: 0;
}

li{
    margin-right:10px;
}

a{
    color:#FFF;
}



li button{
  padding: .8rem;
  margin-left: 8px;
  background-color: #571253d8;
  color: #FFF;
  border:none;
  border-radius: 4px;
  cursor:pointer;
  width: 10rem;
  font-size: 25PX;
}

li button:hover{
background-color: rgb(129, 3, 92);
box-shadow: 0 0 8px rgba(3, 131, 120, 0.993), 0 0 16px;
}
